.ordersList__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  font-family: 'helvetica';
  color: rgb(128, 128, 128);
  background-color: white;
  width: 90vw;
  max-width: 450px;
  height: 640px;
  border-radius: 10px;
  border: 0.5px rgb(0, 0, 0);
}

.orderList__top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #ea1d2c;
  text-align: center;
  color: rgb(255, 255, 255);
}

.orderList__h1 {
  background-color: #ea1d2c;
}

.ordersList__li {
  all: unset;
}

.orders-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.arrow-icon-active {
  color: red;
  width: 50px;
  height: 50px;
  background-color: white;
}

.arrow-icon-inactive {
  color: gray;
  width: 50px;
  height: 50px;
  background-color: white;
}

.page-btn {
  all: unset;
  cursor: pointer;
}

.pagination_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.page-span {
  font-size: 25px;
}

.orders-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}