.ordersList__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  font-family: 'helvetica';
  color: rgb(128, 128, 128);
  background-color: rgb(252, 252, 252);
  width: 90vw;
  max-width: 450px;
  height: 640px;
  border-radius: 10px;
  border: 0.5px rgb(0, 0, 0);
}

.orderList__top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #ea1d2c;
  text-align: center;
  color: rgb(255, 255, 255);
}

.orderList__h1 {
  background-color: #ea1d2c;
}

.ordersList__li {
  all: unset;
}
.pagination_buttons button img {
  width: 35px;
  height: 35px;
}
.pagination_buttons {
  position: relative;
}

.pagination_buttons .btn_next {
  position: absolute;
  right: 150px;
}
