.orderItem__container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 15px 0px 15px;
    height: 68px;
    width: 100%;
    background-color: hsla(210, 14%, 83%, 0.323);
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.orderItem__title {
    font-size: 2.6rem;
    background-color: hsla(210, 14%, 83%, 0);
}