.start_button {
  font-family: "Helvetica";
  background-color: rgb(235, 235, 235);
  color: black;
  text-transform: uppercase;
  width: 320px;
  height: 60px;
  border-radius: 10px;
  padding: 5px 3px;
  text-align: center;
}
