.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ea1d2c;
    width: 100%;
    height: 100px;
    padding: 20px;
}

.logout_img{
    width: 25px;
    cursor: pointer;
}

.helmet_img {
    width: 60px;
}
