* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

button {
  cursor: pointer;
  border: none;
}

button:hover {
  filter: brightness(120%);
  transition: 0.2s ease infinite;
}
